<nav class="shadow">

    <div class="nav-center">
      <div id="title">
        <a routerLink="/inicio"><img src="../../assets/LOGO2.png" alt="" class="logoNav"></a>
      </div>
    </div>

  </nav>

<div class="header-components">

  <div class="header-text">
    <h2>ENCONTRE UM PROFISSIONAL PARA SEU PET</h2>
  </div>


<input type="text" class="icon" value placeholder="Pesquise por nomes">

</div>

     <div class="rec-sq">

        <div class="square">



              <label class="text-radio">Profissão</label>

                  <div class="form-group">
                    <input class="radio" name="theradio" id="radio1" type='radio' checked />
                    <label for="radio1">Pet sitter</label>
                  </div>

                  <div class="form-group">
                    <input class="radio" name="theradio" id="radio2" type='radio' />
                    <label for="radio2">Dog walker</label>
                  </div>

                  <div class="form-group">
                    <input class="radio" name="theradio" id="radio3" type='radio' />
                    <label for="radio3">Adestrador</label>
                  </div>

                


                  <hr>


                  <label class="text-radio">Cidade</label>

                  <div class="form-group">
                    <input class="radio2" name="theradio2" id="radio6" type='radio' checked/>
                    <label for="radio6">São Vicente</label>
                  </div>

                  <div class="form-group">
                    <input class="radio2" name="theradio2" id="radio7" type='radio' />
                    <label for="radio7">Santos</label>
                  </div>

                  <div class="form-group">
                    <input class="radio2" name="theradio2" id="radio8" type='radio' />
                    <label for="radio8">Praia Grande</label>
                  </div>

                  <hr>

                  <label class="text-radio">Sexo</label>

                <div class="form-group">
                  <input class="radio3" name="theradio3" id="radio9" type='radio' checked/>
                  <label for="radio9">Feminino</label>
                </div>

                <div class="form-group">
                  <input class="radio3" name="theradio3" id="radio10" type='radio' />
                  <label for="radio10">Masculino</label>
                </div>

      </div>

  </div>

  <footer>
    <div class="footer">
        <div class="sobre">
            <ul>
            <li><b>Sobre a petsco</b></li><br>
            <li routerLink="/sobre">Quem somos?</li><br>
            <li>Dúvidas frequentes</li><br>
            <li>Política de privacidade</li>
        </ul>
        </div>
        <div class="profissionais">
            <ul>
            <li><b>Profissionais</b></li><br>
            <li>Adestrador</li><br>
            <li>Dog Walker</li><br>
            <li>Pet Sitter</li>
        </ul>
        </div>
        <div class="serviços">
            <ul>
            <li><b>Serviços</b></li><br>
            <li>Pet Shop</li><br>
            <li>Hotel Pet</li><br>
            <li>Veterinário</li>
        </ul>
        </div>
        <div class="redes-sociais">
            <ul>
            <li><b>Redes Sociais</b></li><br>
            <a href="https://www.facebook.com/profile.php?id=100092224449255" target="_blank"><img src="../../assets/facebook 1.png" alt="" width="20%" height="20%" class="facebook"></a>
            <a href="https://twitter.com/pet_sco" target="_blank"><img src="../../assets/twitter 1.png" alt="" width="20%" height="20%" class="twitter"></a>
            <a href="https://instagram.com/pet_.sco?igshid=ZDdkNTZiNTM=" target="_blank"><img src="../../assets/instagram 1.png" alt="" width="20%" height="20%" class="instagram"></a>
        </ul>
        </div>
    </div>
</footer>
